In [3]:
# Dependencies
import pandas as pd
import geopandas as gpd
import requests
from census import Census
from us import states
import fiona
from sqlalchemy import create_engine

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

In [4]:
# label documentation: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b

# population: B01003_001E
# median age: B01002_001E
# male population over 65: B01001_020E - B01001_025E
# female population over 65: B01001_044E - B01001_049E


m_census_data = c.acs5.get(('NAME','B01003_001E', 'B01001_001E','B01002_001E', 'B01001_002E', 'B01001_020E', 'B01001_021E', 'B01001_022E', 'B01001_023E', 'B01001_024E', 'B01001_025E',
                           'B01001_044E', 'B01001_045E', 'B01001_046E', 'B01001_047E', 'B01001_048E', 'B01001_049E'), geo={'for': 'county:*',
                       'in': 'state:27'.format(states.MN.fips)}) #  county:053  &for=county:*&in=state:01

In [5]:
m_census_data
# Convert to DataFrame
m_census_pd = pd.DataFrame(m_census_data)
m_census_pd.head()

,NAME,B01003_001E,B01001_001E,B01002_001E,B01001_002E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,state,county
0,"Wilkin County, Minnesota",6398.0,6398,44.3,3214.0,56.0,84.0,121.0,74.0,102.0,81.0,70.0,123.0,137.0,107.0,71.0,151.0,27,167
1,"Red Lake County, Minnesota",4017.0,4017,42.2,2033.0,63.0,55.0,78.0,60.0,36.0,65.0,50.0,70.0,82.0,87.0,49.0,69.0,27,125
2,"Aitkin County, Minnesota",15841.0,15841,54.5,8079.0,289.0,480.0,717.0,579.0,273.0,170.0,304.0,431.0,651.0,584.0,255.0,244.0,27,001
3,"Clay County, Minnesota",62040.0,62040,32.6,30613.0,460.0,638.0,797.0,582.0,462.0,528.0,637.0,667.0,795.0,797.0,668.0,844.0,27,027
4,"Faribault County, Minnesota",13966.0,13966,46.8,6975.0,148.0,216.0,385.0,210.0,196.0,193.0,162.0,232.0,394.0,327.0,258.0,393.0,27,043

In [6]:
# add up individual age groups to get population of all people over age 65
m_census_pd["TotalAgeOvr65"] = m_census_pd["B01001_020E"] + m_census_pd["B01001_021E"] + m_census_pd["B01001_022E"]+ m_census_pd["B01001_023E"] + m_census_pd["B01001_024E"] + m_census_pd["B01001_025E"] + m_census_pd["B01001_044E"] + m_census_pd["B01001_045E"] + m_census_pd["B01001_046E"] + m_census_pd["B01001_047E"] + m_census_pd["B01001_048E"] + m_census_pd["B01001_049E"]

m_census_pd['fips_concate'] = m_census_pd['state'].astype(str) + m_census_pd['county'].astype(str)
# trim down to jsut the columns we need
m_census_pd = m_census_pd[['NAME', 'B01003_001E', 'B01002_001E', 'TotalAgeOvr65', 'state', 'county', 'fips_concate']]
m_census_pd.head()

,NAME,B01003_001E,B01002_001E,TotalAgeOvr65,state,county,fips_concate
0,"Wilkin County, Minnesota",6398.0,44.3,1177.0,27,167,27167
1,"Red Lake County, Minnesota",4017.0,42.2,764.0,27,125,27125
2,"Aitkin County, Minnesota",15841.0,54.5,4977.0,27,001,27001
3,"Clay County, Minnesota",62040.0,32.6,7875.0,27,027,27027
4,"Faribault County, Minnesota",13966.0,46.8,3114.0,27,043,27043

In [7]:
# Column Reordering
m_census_pd = m_census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
#                                       "B17001_002E": "Poverty count",
#                                       "B19013_001E": "Median Household Income",
#                                       "B01001_001E" : "Age Over 65",
                                      "NAME": "Name", "tract": "Census Tract"})

# # Add in Poverty Rate (Poverty Count / Population)
# m_census_pd["Poverty Rate"] = 100 * \
#     m_census_pd["Poverty count"].astype(
#         int) / m_census_pd["Population"].astype(int)

# Add in Pct age over 65
m_census_pd["Percent Age Ovr 65"] = round(m_census_pd["TotalAgeOvr65"].astype(
        float) / m_census_pd["Population"].astype(float), 2)

# convert county FIPS to int
m_census_pd["county"] = m_census_pd["county"].astype(int)

m_census_pd.head()

,Name,Population,Median Age,TotalAgeOvr65,state,county,fips_concate,Percent Age Ovr 65
0,"Wilkin County, Minnesota",6398.0,44.3,1177.0,27,167,27167,0.18
1,"Red Lake County, Minnesota",4017.0,42.2,764.0,27,125,27125,0.19
2,"Aitkin County, Minnesota",15841.0,54.5,4977.0,27,1,27001,0.31
3,"Clay County, Minnesota",62040.0,32.6,7875.0,27,27,27027,0.13
4,"Faribault County, Minnesota",13966.0,46.8,3114.0,27,43,27043,0.22

In [8]:
m_census_pd.to_csv("../data/CountiesData_noGeometry.csv")

In [9]:
## Read in county boundaries shapefile
## source: https://gisdata.mn.gov/dataset/bdry-counties-in-minnesota
shp = "mn_county_boundary.shp" 
# create a geo-dataframe
counties = gpd.read_file(shp)
counties.head()
print(len(counties))

87

In [10]:
# merge the census table to the geo-dataframe 
counties_ACS = counties.merge(m_census_pd, left_on='CTY_FIPS', right_on='county' )

# Set the projection of the counties to be web-readable
counties_ACS = counties_ACS.to_crs("EPSG:4326")
counties_ACS.head(87)

,AREA,PERIMETER,CTYONLY_,CTYONLY_ID,COUN,CTY_NAME,CTY_ABBR,CTY_FIPS,Shape_Leng,Shape_Area,geometry,Name,Population,Median Age,TotalAgeOvr65,state,county,fips_concate,Percent Age Ovr 65
0,1.251104e+09,142205.587816,80.0,79.0,67,Rock,ROCK,133,142205.587722,1.251104e+09,"POLYGON ((-96.45326 43.84959, -96.45297 43.849...","Rock County, Minnesota",9433.0,40.9,1836.0,27,133,27133,0.19
1,1.335115e+09,154431.787879,66.0,65.0,66,Rice,RICE,131,154431.787729,1.335115e+09,"POLYGON ((-93.52421 44.54359, -93.52255 44.543...","Rice County, Minnesota",65251.0,36.6,9407.0,27,131,27131,0.14
2,1.745104e+10,682518.436003,7.0,6.0,69,St. Louis,STLO,137,682518.435758,1.745104e+10,"POLYGON ((-93.08849 48.62770, -93.06701 48.626...","St. Louis County, Minnesota",200294.0,41.0,35541.0,27,137,27137,0.18
3,4.347099e+09,302590.752930,4.0,3.0,68,Roseau,ROSE,135,302590.752705,4.347099e+09,"POLYGON ((-96.40549 49.00007, -96.40199 49.000...","Roseau County, Minnesota",15537.0,41.4,2447.0,27,135,27135,0.16
4,9.530652e+08,174505.857385,59.0,58.0,70,Scott,SCOT,139,174505.857615,9.530652e+08,"POLYGON ((-93.32959 44.79092, -93.32959 44.790...","Scott County, Minnesota",141463.0,36.0,13567.0,27,139,27139,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,4.608321e+09,388250.145723,2.0,1.0,39,Lake of the Woods,LOTW,77,388250.145362,4.608321e+09,"POLYGON ((-95.32315 48.99893, -95.31095 48.998...","Lake of the Woods County, Minnesota",3841.0,51.1,846.0,27,77,27077,0.22
83,5.924885e+09,433067.747079,12.0,11.0,38,Lake,LAKE,75,433067.746416,5.924885e+09,"MULTIPOLYGON (((-91.03110 48.18882, -91.03197 ...","Lake County, Minnesota",10578.0,50.3,2584.0,27,75,27075,0.24
84,2.016664e+09,221429.355572,49.0,48.0,37,Lac qui Parle,LACQ,73,221429.356811,2.016664e+09,"POLYGON ((-96.26737 45.22173, -96.26730 45.221...","Lac qui Parle County, Minnesota",6840.0,50.0,1736.0,27,73,27073,0.25
85,8.167238e+09,412897.435943,5.0,4.0,36,Koochiching,KOOC,71,412897.435786,8.167238e+09,"POLYGON ((-94.42997 48.70115, -94.42416 48.705...","Koochiching County, Minnesota",12776.0,48.6,2839.0,27,71,27071,0.22
86,1.226287e+09,170211.003728,65.0,64.0,40,Le Sueur,LESU,79,170211.004115,1.226287e+09,"POLYGON ((-93.52421 44.54359, -93.52443 44.529...","Le Sueur County, Minnesota",27810.0,41.4,4588.0,27,79,27079,0.16

In [11]:

gdf = gpd.read_file("../data/COVID19_Cases_US.geojson")
# gjson = "../data/COVID19_Cases_US.geojson" 
# covid = gpd.read_file(gjson)
mn_covid = gdf[(gdf['Province_State'] == "Minnesota")]

mn_covid = mn_covid[['Province_State', 'Last_Update', 'Lat', 'Long_', 'Confirmed', 'Recovered', 'Deaths', 'Active', 'Combined_Key', 'FIPS', 'Admin2']]
# mn_covid_df = pd.DataFrame(mn_covid.drop(columns='geometry'))
print(len(mn_covid))
mn_covid.head()

63

,Province_State,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Combined_Key,FIPS,Admin2
57,Minnesota,2020-04-06T19:49:51,45.274760,-93.246046,40,0,0,0,"Anoka, Minnesota, US",27003,Anoka
140,Minnesota,2020-04-06T19:49:51,47.973735,-94.937321,6,0,0,0,"Beltrami, Minnesota, US",27007,Beltrami
146,Minnesota,2020-04-06T19:49:51,45.698050,-93.995141,1,0,0,0,"Benton, Minnesota, US",27009,Benton
166,Minnesota,2020-04-06T19:49:51,45.427128,-96.414037,1,0,0,0,"Big Stone, Minnesota, US",27011,Big Stone
179,Minnesota,2020-04-06T19:49:51,44.035542,-94.066998,16,0,0,0,"Blue Earth, Minnesota, US",27013,Blue Earth

In [12]:
# merge the census table to the geo-dataframe 
counties_covid = counties_ACS.merge(mn_covid, left_on='fips_concate', right_on='FIPS', how="left" )

# Set the projection of the counties to be web-readable
# counties_covid = counties_covid.to_crs("EPSG:4326")
counties_covid.head()

,AREA,PERIMETER,CTYONLY_,CTYONLY_ID,COUN,CTY_NAME,CTY_ABBR,CTY_FIPS,Shape_Leng,Shape_Area,...,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Combined_Key,FIPS,Admin2
0,1.251104e+09,142205.587816,80.0,79.0,67,Rock,ROCK,133,142205.587722,1.251104e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.335115e+09,154431.787879,66.0,65.0,66,Rice,RICE,131,154431.787729,1.335115e+09,...,2020-04-06T19:49:51,44.354338,-93.296587,4.0,0.0,0.0,0.0,"Rice, Minnesota, US",27131,Rice
2,1.745104e+10,682518.436003,7.0,6.0,69,St. Louis,STLO,137,682518.435758,1.745104e+10,...,2020-04-06T19:49:51,47.604841,-92.468799,16.0,0.0,0.0,0.0,"St. Louis, Minnesota, US",27137,St. Louis
3,4.347099e+09,302590.752930,4.0,3.0,68,Roseau,ROSE,135,302590.752705,4.347099e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9.530652e+08,174505.857385,59.0,58.0,70,Scott,SCOT,139,174505.857615,9.530652e+08,...,2020-04-06T19:49:51,44.649023,-93.533403,15.0,0.0,1.0,0.0,"Scott, Minnesota, US",27139,Scott

In [13]:
# confrim projection is 4326
print(counties_covid.crs)
print(len(counties_covid))

EPSG:4326
87

In [14]:
# export geodataframe as a geojson file for web-mapping
# counties_covid.to_file("../data/MN_counties.geojson", driver='GeoJSON')
counties_covid.to_file("../data/MN_counties.geojson", driver='GeoJSON')
# counties.to_file("MN_counties.shp")

In [15]:
# # drop the geometry column and export data into csv for database and charting
# counties_ACS.drop(['geometry'], axis=1)
# counties_ACS.to_csv("../data/CountiesData.csv")

In [16]:
connection_string = "postgres:postgres@localhost:5432/covid_db"
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
engine.table_names()

['counties']

In [19]:
counties_covid.to_sql(name='counties_geometry', con=engine, if_exists='append', index=True)

AttributeError: 'GeometryDtype' object has no attribute 'base'